[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pylint = "*"
flake8 = "*"
pytest = "*"

[packages]
keras = "*"
tensorflow-gpu = "==1.13.0-rc0"
jupyter = "*"
jupyter-contrib-nbextensions = "*"
matplotlib = "*"
tqdm = "*"
opencv-python = "*"
imgaug = "*"
livelossplot = "*"
numpy = "==1.16.4"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
